Repository Rodrigo-Camargo-13/ARQUITETURA_ITA_PARQUE, changes with the owners that CODEOWNERS names for each.
All owners: @arquitetura-ita-parque-core, @arquitetura-ita-parque-arch, @arquitetura-ita-parque-devops

CODEOWNERS:

*       @arquitetura-ita-parque-core
/reference-architectures/ @arquitetura-ita-parque-arch
/standards/               @arquitetura-ita-parque-arch
/cicd/                     @arquitetura-ita-parque-devops
/governance/               @arquitetura-ita-parque-arch

chore: repo inicial estrutura de pastas e arquivos
  cicd/.gitkeep
  cicd/azure/.gitkeep
  cicd/drone/.gitkeep
  cicd/github/.github/.gitkeep
  cicd/github/.github/workflows/.gitkeep
  cicd/github/.gitkeep
  cicd/gitlab/.gitkeep
  docs/.gitkeep
  docs/apis-openapi/.gitkeep
  docs/eventos-asyncapi/.gitkeep
  frontend-react/.gitkeep
  frontend-react/exemplo-next/.gitkeep
  governance/.gitkeep
  governance/checklists/.gitkeep
  matriz-tecnologias/.gitkeep
  ops/.gitkeep
  ops/runbooks/.gitkeep
  reference-architectures/.gitkeep
  reference-architectures/api/.gitkeep
  reference-architectures/events/.gitkeep
  reference-architectures/events/examples/.gitkeep
  reference-architectures/legacy-integration/.gitkeep
  reference-architectures/legacy-integration/exemplos/.gitkeep
  reference-architectures/microservices/.gitkeep
  reference-architectures/microservices/adr/.gitkeep
  reference-architectures/microservices/c4/.gitkeep
  security/.gitkeep
  standards/.gitkeep
  standards/backend-dotnet/.gitkeep
  standards/backend-dotnet/exemplo-minimal-api/.gitkeep
  standards/backend-java/.gitkeep
  standards/backend-java/exemplo-spring/.gitkeep
  standards/backend-python/.gitkeep
  standards/backend-python/exemplo-fastapi/.gitkeep
  templates/.gitkeep
  testing/.gitkeep
Owners: @arquitetura-ita-parque-devops, @arquitetura-ita-parque-core, @arquitetura-ita-parque-arch

chore: adicionar SECURITY, LICENSE, CONTRIBUTING, gitattributes e editorconfig
  .editorconfig
  .gitattributes
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Owners: @arquitetura-ita-parque-core

feat: adiciona estrutura inicial com padrões, exemplos e runbooks
  docs/apis-openapi/exemplo-openapi.yaml
  docs/eventos-asyncapi/exemplo-asyncapi.yaml
  governance/checklists/eventos.yml
  governance/checklists/microservico.yml
  governance/comite-tecnico-rituais.md
  ops/runbooks/incident-erros5xx.md
  ops/runbooks/incident-latencia.md
  ops/sre-slos.md
Owners: @arquitetura-ita-parque-core, @arquitetura-ita-parque-arch

docs: adiciona blueprints REST/GraphQL/gRPC, eventos e legados; guias Java/Python/Frontend; quality gates, SBOM e templates
  reference-architectures/api/blueprint-graphql.md
  reference-architectures/api/blueprint-grpc.md
  reference-architectures/api/blueprint-rest.md
  reference-architectures/events/blueprint-eventos.md
  reference-architectures/events/examples/asyncapi.yaml
  reference-architectures/legacy-integration/blueprint-strangler-acl.md
  reference-architectures/legacy-integration/exemplos/planos-migracao.md
  reference-architectures/microservices/adr/0001-escolha-microservicos-vs-monolito.md
  standards/backend-java/exemplo-spring/README.md
  standards/backend-java/guia.md
  standards/backend-python/guia.md
  standards/cicd/quality-gates.md
  standards/cicd/sbom-supply-chain.md
  standards/frontend-react/exemplo-next/README.md
  standards/frontend-react/guia.md
  standards/testing/pact-tests-guia.md
  standards/testing/piramide-testes.md
  templates/issue-template.md
  templates/pr-template.md
  templates/readme-solution.md
Owners: @arquitetura-ita-parque-arch, @arquitetura-ita-parque-core

feat(governance): v1.1 audit-ready regras SAST/SCA, validação OpenAPI/AsyncAPI, OTel collector, pact broker e exemplos executáveis
  ops/otel/collector.yaml
  reference-architectures/api/blueprint-graphql.md
  reference-architectures/events/blueprint-eventos.md
  standards/backend-dotnet/exemplo-minimal-api/Program.cs
  standards/backend-java/exemplo-spring/pom.xml
  standards/cicd/github/.github/workflows/quality.yml
  standards/security/semgrep/semgrep.yml
  standards/security/trivy/.trivyignore
  testing/pact/pact-broker.md
Owners: @arquitetura-ita-parque-core, @arquitetura-ita-parque-arch

feat(arquitetura): adiciona blueprints adicionais, .NET/Azure na matriz, guia unificado, governança formal, observabilidade e segurança (DAST, vulnerabilidades, acesso)
  governance/politica-governanca.md
  ops/matriz-tecnologias/matriz.md
  ops/observabilidade.md
  reference-architectures/legacy-integration/blueprint-exemplo-soap-rest.md
  reference-architectures/microservices/blueprint-extended.md
  reference-architectures/monolith/blueprint-monolito-modular.md
  reference-architectures/serverless/blueprint-serverless.md
  standards/backend-dotnet/guia.md
  standards/cicd/azure/azure-pipelines.yml
  standards/cicd/github/.github/workflows/quality.yml
  standards/cicd/quality-gates.md
  standards/guia-unificado.md
  standards/security/dast-guia.md
  standards/security/gestao-vulnerabilidades.md
  standards/security/politicas-acesso.md
Owners: @arquitetura-ita-parque-arch, @arquitetura-ita-parque-core

feat(deploy+ops): exemplos de deploy Azure (App Service/AKS), CDC e migração; OTel prático; versionamento e changelog; monitoramento (App Insights/Prometheus-Grafana); dependabot
  CHANGELOG.md
  deploy/azure/aks/README.md
  deploy/azure/appservice/README.md
  deploy/azure/gitops/argocd-app.yaml
  governance/versioning-release.md
  ops/migration/cdc-checklist.md
  ops/migration/estrategia-migracao-dados.md
  ops/monitoring/application-insights.md
  ops/monitoring/prometheus-grafana.md
  standards/cicd/github/dependabot.yml
  standards/observability/otel-logging-tracing.md
Owners: @arquitetura-ita-parque-core, @arquitetura-ita-parque-arch

correção README.md e inclusão de paginação.
  README.md
  docs/cdc-checklist.md
  docs/cdc-estrategia.md
  docs/dast-guia.md
  docs/deploy-aks.md
  docs/deploy-appservice.md
  docs/gestao-vulnerabilidades.md
  docs/governanca.md
  docs/guia-unificado.md
  docs/index.md
  docs/integracao-legada.md
  docs/matriz.md
  docs/microservices-extended.md
  docs/monitoring.md
  docs/monolito-modular.md
  docs/observabilidade-guia.md
  docs/otel-logging-tracing.md
  docs/politicas-acesso.md
  docs/quality-gates.md
  docs/runbooks-slos.md
  docs/serverless.md
  docs/versioning-release.md
  mkdocs.yml
Owners: @arquitetura-ita-parque-core

inclusão de png
  docs/assets/visao-executiva-arquitetura.png
Owners: @arquitetura-ita-parque-core

docs(readme): versão paginada e executiva resumo, índice, badges, links diretos e seções recolhíveis
  README.md
Owners: @arquitetura-ita-parque-core

ci: ativa workflow quality.yml na raiz para status de actions
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

correção readme
  README.md
Owners: @arquitetura-ita-parque-core

Correção linha git Actions no README.md
  README.md
Owners: @arquitetura-ita-parque-core

ci(quality): torna pipeline resiliente a múltiplas stacks e roda SAST/SCA/contratos em modo consultivo
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

ci(quality): garante execução em push/PR; adiciona job sentinela e checks condicionais por stack
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

ci(quality): adiciona job 'sanity' e 'artifacts'; roda sempre em push/PR; checks condicionais por stack
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

ci: sanity workflow mínimo para validar execução do Actions
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

ci: sanity sempre executa; quality com checks condicionais e contratos; corrige 'No jobs were run'
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

ci(quality): torna validações OpenAPI/AsyncAPI consultivas (não bloqueiam); corrige exit code 1
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

ci(quality): corrige build .NET/Maven executando por módulo; mantém contratos em modo consultivo
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

ci(quality): REV-JAVA-LOOP-01 — build Maven por módulo (cd no dir do pom); loop .NET por projeto
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

ci: remove workflow duplicado (template); mantém apenas .github/workflows/quality.yml
  standards/cicd/github/.github/workflows/quality.yml
Owners: @arquitetura-ita-parque-arch

deploy readme.md
  deploy/azure/appservice/aks/README.md
Owners: @arquitetura-ita-parque-core

ci(quality): REV-JAVA-LOOP-OK build Maven por módulo (advisory) e remoção do duplicado
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

java(sample): corrige POM do exemplo Spring Boot usando parent 3.3.2 e deps sem versão
  standards/backend-java/exemplo-spring/pom.xml
Owners: @arquitetura-ita-parque-arch

java(sample): adiciona classe principal @SpringBootApplication para corrigir repackage
  standards/backend-java/exemplo-spring/src/main/java/org/ita/parque/ExemploSpringApplication.java
  standards/backend-java/exemplo-spring/src/main/resources/application.properties
Owners: @arquitetura-ita-parque-arch

ajustes finos
  standards/backend-java/exemplo-spring/target/classes/application.properties
  standards/backend-java/exemplo-spring/target/classes/org/ita/parque/ExemploSpringApplication.class
Owners: @arquitetura-ita-parque-arch

atualização robusta quality
  .github/workflows/quality.yml
Owners: @arquitetura-ita-parque-core

feat(platform): reusable workflows, container scan, OPA/Conftest, coverage gate, Sonar e KPI collector
  .github/workflows/container-scan.yml
  .github/workflows/coverage-gate.yml
  .github/workflows/kpi-collector.yml
  .github/workflows/policy-check.yml
  .github/workflows/reusable-build-test.yml
  .github/workflows/reusable-coverage-gate.yml
  .github/workflows/reusable-openapi-asyncapi.yml
  .github/workflows/reusable-sast-sca-sbom.yml
  .github/workflows/sonar.yml
  ops/kpis/README.md
  sonar-project.properties
  standards/security/policy/opa/README.md
  standards/security/policy/opa/k8s_no_latest_tag.rego
  standards/security/policy/opa/k8s_require_limits.rego
Owners: @arquitetura-ita-parque-core, @arquitetura-ita-parque-arch

ajustes sonar
  .github/workflows/coverage-gate.yml
  .github/workflows/image-scan.yml
  .github/workflows/policy-check.yml
  .github/workflows/sonar.yml
  sonar-project.properties
Owners: @arquitetura-ita-parque-core

Ajuste policy-check
  .github/workflows/policy-check.yml
Owners: @arquitetura-ita-parque-core

Correções workflows
  .github/workflows/coverage-gate.yml
  .github/workflows/image-scan.yml
  .github/workflows/policy-check.yml
  .github/workflows/sonar.yml
Owners: @arquitetura-ita-parque-core

Aprimoramento sonar
  .github/workflows/sonar.yml
  .vscode/settings.json
  sonar-project.properties
Owners: @arquitetura-ita-parque-core

correção sonar-project-properties
  sonar-project.properties
Owners: @arquitetura-ita-parque-core

teste
  sonar-project.properties
Owners: @arquitetura-ita-parque-core

correção sonar
  sonar-project.properties
Owners: @arquitetura-ita-parque-core

correção nova do sonar
  .github/workflows/sonar.yml
Owners: @arquitetura-ita-parque-core

Correção sonar novamente
  .github/workflows/sonar.yml
Owners: @arquitetura-ita-parque-core

Corrigindo erro gerado no projeto
  .github/workflows/sonar.yml
Owners: @arquitetura-ita-parque-core

Nova correção
  .github/workflows/sonar.yml
Owners: @arquitetura-ita-parque-core
